  <div class="map_container">
      <div id='map'></div>
      <div class="popup_bar">
        <div class="title"></span></div>
        <div class="deletePhotoButton">
          <button class="glyphicon glyphicon-remove" aria-hidden="true">
        </div>
        <div class="photos"></div>
        <div class="previous_arrow">
          <button class="glyphicon glyphicon-chevron-left" aria-hidden="true">
        </div>
        <div class="next_arrow">
          <button class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </div>
        <div class="descriptionBox">
            <div class="titleBox">
            <label>Trip Name</label>
            </div>
            <div class="description">
              <p class="taskDescription"></p>
                <div class="actionBox">
                  <form class="form-inline" role="form">
                  <div class="form-group">
                      <input class="form-control" type="text" placeholder="Your notes"/>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-default" id="add-description-button">Add</button>
                  </div>
                </form>
              </div>
            </div>
        </div>

    </div>
  </div>
